body   { display: block; width: 100%; height: 100vh; margin: 0; padding:0; overflow: hidden; }
body   { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
header { display: block; width: 100%; }

#load-overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    backdrop-filter: blur(12px);
    opacity: 1;
    transition: visibility 0.3s cubic-bezier(.38,.03,.62,.98) 0.2s,
                height 0s linear 0.5s;
}

#osmd-container {
    height: 80vh;
    width: 70%;
    margin: 0 auto;
    overflow-y: scroll;
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(.38,.03,.62,.98);
}

#control-side {
    height: 80vh;
    width: 15%;
    position: absolute;
    top:0; right: 0;
    box-sizing: border-box;
    padding: 10px 20px;
    margin: 15vh 0 0 0;
    border-left: 1px solid #333;
}

.control-input    { cursor: pointer; }
.control-inactive { cursor: not-allowed; opacity: 0.5; }

#control-play-restart { border: 0; background-color: transparent; font-size: 1.1rem;}

/* Play/Pause button state styles */
input#control-play-pause                                  { display: none;  font-size: 1.1rem;}
input#control-play-pause:checked       ~ label i.fa-play  { display: none; }
input#control-play-pause:not(:checked) ~ label i.fa-pause { display: none; }


/* Track selection container*/
#track-selection-section { margin-top: 100px; }

#track-selection-container {
    width: 400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
}

#track-selection-section label        { display: block; text-align: center;}
#track-collection-selection-container { width: 300px;   margin: 0 auto; }
#track-selection-container > div      { text-align: center; }

#sheet-selection,
#playback-selection,
#collection-selection { width: 90%; margin: 10px 5%; }